@page "/"

<h1>BlazorApp Home Page</h1>

This project is an introduction to the web framework Blazor for COP 3003.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
